// Box sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Root level smooth scrolling
html {
  scroll-behavior: smooth;
}

// Remove some margins
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote {
  margin: 0;
}

// Set body to be full viewport height at minimum
body {
  min-height: 100vh;
}

// Responsive images
img {
  max-width: 100%;
  height: auto;
}